.body .h1{
color: white;
}

.form-signin{

    padding-top:40px;
    padding-bottom: 40px;
    text-align: center;
}
.h2{
    color: white;
}
.form-control{
    text-align: center;

}
.p{
    color: white;
}